h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  background-color: darkgray;
  overflow: hidden;
  text-align: center;
}

canvas.gameworld {
  padding: 10px;
  /* width: 200px;
  height: 600px; */
  border: 1px red;
  background-color: lightgray;
}
